<a href="SpainPolicies.html"><img class="fimg" src="spain.png" alt="SpainFlag"></a>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold; margin-left: 0.8%;">PRIVACY POLICY</h5>
            <br>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>This Privacy Policy sets forth the terms under which La Lavanderia uses and protects the information that is provided by its users when using their website. This company is committed to the security of user data. When asked to fill the fields of personal information with which you can be identified, we make sure that only be used in accordance with the terms of this document. However, this Privacy Policy may change over time or be updated so we recommend and emphasize continually review this page to ensure that you agree with these changes.</b></p>
            </div>
        </div>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold; margin-left: 0.8%;">Information is collected</h5>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>Our website may collect personal information such as: name, contact information such as your email address and demographic information. Also, when necessary may be required specific information to process an order or a delivery or billing.</b></p>
            </div>
        </div>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold; margin-left: 0.8%;">Using the information collected</h5>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>Our website uses the information in order to provide the best service possible, particularly to keep track of user orders if applicable, and improve our products and services. You may be sent emails periodically through our site with special offers, new products and other information you consider relevant to you or may provide some benefit, these emails will be sent to the address you provide and may be canceled anytime. <br>
                La Lavanderia is highly committed to fulfill the commitment to keep your information secure. We use the most advanced systems and constantly updated to ensure that there is no unauthorized access.</b></p>
            </div>
        </div>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold; margin-left: 0.8%;">cookies</h5>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>A cookie is a file that is sent in order to request permission to be stored on your computer by accepting the file is created and the cookie is then used to get information regarding web traffic, and also facilitates future visits to a web recurrent. Another role that cookies is that the web can recognize them individually and thus give the best personalized service from its website. <br>
                Our web site uses cookies to identify which pages are visited and how often. This information is used only for statistical analysis and then the information is permanently deleted. You can delete cookies at any time from your computer. However, cookies help to provide better service websites, you do not give access to information on your computer or you unless you so want and provide it directly, visits. You can accept or deny the use of cookies; however most browsers automatically accept cookies it serves for a better web service. You can also change your computer settings to decline cookies. If you decline you may not use some of our services.</b></p>
            </div>
        </div>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold; margin-left: 0.8%;">Third Party Links</h5>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>This website may contain Laces to other sites that might be of interest. Once you click on these links and leave our site and have no control over the site that is redirected and therefore are not responsible for the terms or privacy or protection of your data on such other third sites. These sites are subject to their own privacy policies, so it is recommended that you check to confirm that you agree with these.</b></p>
            </div>
        </div>

        <div class="fluid-container">
            <h5 style="color:2D363F; font-family: 'Montserrat', sans-serif; font-weight: bold;  margin-left: 0.8%;">Control of Your Personal Information</h5>
            <div class="row" style="background-color: #02AFC7; color: white; font-family: 'Montserrat', sans-serif; margin-top: 1%;">
                <p class="text"><b>At any time, you can restrict the collection or use of personal information that is provided to our website. Increasingly be asked to fill a form, such as user registration, you can check or uncheck the option to receive information by email. If you've checked the option to receive our newsletter or advertising, you can cancel at any time. <br>
                This company will not sell, assign or distribute personal information is collected without your consent, unless required by a judge a court order. <br>
                La Lavanderia reserves the right to change the terms of this Privacy Policy at any time.</b></p>
            </div>
            <br>
        </div>
